In [1]:
import os 
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from ipywidgets import *

In [2]:
directory_location=os.listdir(r"C:\Users\amin\Downloads\Techmaghi_project\movies.csv")
for file in directory_location:
    print(file)

movies.csv

In [3]:
directory_location=os.listdir(r"C:\Users\amin\Downloads\Techmaghi_project\ratings.csv")
for file in directory_location:
    print(file)

ratings.csv

In [6]:
movies=pd.read_csv("new_movies.csv")
ratings=pd.read_csv("new_ratings.csv")

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [11]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1048575 non-null  int64
 1   movieId    1048575 non-null  int64
 2   rating     1048575 non-null  float64
 3   timestamp  1048575 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 32.0 MB

In [ ]:
ratings.shape

(20000263, 4)

In [12]:
ratings.describe()

             userId       movieId        rating     timestamp
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   3.527086e+03  8.648988e+03  3.529272e+00  1.096036e+09
std    2.018424e+03  1.910014e+04  1.051919e+00  1.594899e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  8.254999e+08
25%    1.813000e+03  9.030000e+02  3.000000e+00  9.658382e+08
50%    3.540000e+03  2.143000e+03  4.000000e+00  1.099263e+09
75%    5.233000e+03  4.641000e+03  4.000000e+00  1.217407e+09
max    7.120000e+03  1.306420e+05  5.000000e+00  1.427764e+09

In [13]:
movies['genres']=movies['genres'].str.split("|")

In [14]:
movies2=movies.explode('genres')
movies2.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [15]:
movies2['genres'].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir', '(no genres listed)'], dtype=object)

In [16]:
movies2['genres'].nunique()

20

In [17]:
movies2=movies2[movies2['genres']!='(no genres listed)']

In [18]:
movies2['genres'].unique()

array(['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'War', 'Musical',
       'Western', 'Film-Noir'], dtype=object)

In [19]:
movies2['genres'].nunique()

19

In [20]:
merged_data=pd.merge(ratings,movies2,on=['movieId'],how='inner')

In [21]:
popularity=merged_data.groupby(['genres','title']).agg({'rating':['mean','size']}).reset_index()
popularity.columns=['genres','title','Average_ratings','Number of ratings']

In [22]:
#popularity recommender system
popularity[(popularity['genres']=='Action')&(popularity['Number of ratings']>=50)]

,genres,title,Average_ratings,Number of ratings
7,Action,"13th Warrior, The (1999)",3.101604,374
9,Action,"2 Fast 2 Furious (Fast and the Furious 2, The)...",2.509709,206
13,Action,2012 (2009),2.728814,118
16,Action,21 Jump Street (2012),3.766129,62
20,Action,28 Days Later (2002),3.732283,635
...,...,...,...,...
2066,Action,Young Sherlock Holmes (1985),3.383117,154
2073,Action,Zero Dark Thirty (2012),3.870000,50
2074,Action,Zombieland (2009),3.872510,251
2078,Action,eXistenZ (1999),3.331034,290
2079,Action,xXx (2002),2.962389,226

In [23]:
popularity[(popularity['genres']=='Action')&(popularity['Number of ratings']>=50)].sort_values(by='Average_ratings',ascending=False).head(7)

,genres,title,Average_ratings,Number of ratings
164,Action,Band of Brothers (2001),4.353070,228
368,Action,City of God (Cidade de Deus) (2002),4.258514,646
1314,Action,North by Northwest (1959),4.250306,817
457,Action,"Dark Knight, The (2008)",4.242968,1031
1613,Action,Seven Samurai (Shichinin no samurai) (1954),4.223906,594
653,Action,Fight Club (1999),4.219185,2085
1925,Action,"Treasure of the Sierra Madre, The (1948)",4.208487,271

In [24]:
def TopNPopularMovies(genre,threshold,topN):
  popularity=merged_data.groupby(['genres','title']).agg({'rating':['mean','size']}).reset_index()
  popularity.columns=['genres','title','Average_ratings','Number_of_ratings']

  #filtering data
  topNrecommendations=popularity[(popularity['genres']==genre)&(popularity['Number_of_ratings']>=threshold)].sort_values(by='Average_ratings',ascending=False).head(topN)

  #output
  topNrecommendations['Sno.']=range(1,len(topNrecommendations)+1)
  topNrecommendations.index=range(0,len(topNrecommendations))
  topNrecommendations.columns=['Genres','Movie Title','Average Movie Rating','Number of Reviews','Sno.']
  return topNrecommendations[['Sno.','Movie Title','Average Movie Rating','Number of Reviews']]

In [25]:
#test case1
genre='Adventure'
threshold=50
topN=18
TopNPopularMovies(genre=genre,threshold=threshold,topN=topN)

,Sno.,Movie Title,Average Movie Rating,Number of Reviews
0,1,City of God (Cidade de Deus) (2002),4.258514,646
1,2,North by Northwest (1959),4.250306,817
2,3,Spirited Away (Sen to Chihiro no kamikakushi) ...,4.231039,712
3,4,Seven Samurai (Shichinin no samurai) (1954),4.223906,594
4,5,"Gold Rush, The (1925)",4.210084,119
5,6,"Treasure of the Sierra Madre, The (1948)",4.208487,271
6,7,Raiders of the Lost Ark (Indiana Jones and the...,4.206204,2289
7,8,Star Wars: Episode IV - A New Hope (1977),4.189457,2874
8,9,Monty Python and the Holy Grail (1975),4.179802,1713
9,10,"Princess Bride, The (1987)",4.177391,1725
10,11,Star Wars: Episode V - The Empire Strikes Back...,4.163358,2418
11,12,Yojimbo (1961),4.158333,180
12,13,"Good, the Bad and the Ugly, The (Buono, il bru...",4.155059,761
13,14,To Have and Have Not (1944),4.153846,52
14,15,Lawrence of Arabia (1962),4.150442,678
15,16,"Great Escape, The (1963)",4.145798,583
16,17,Nausicaä of the Valley of the Wind (Kaze no ta...,4.143678,174
17,18,"Lord of the Rings: The Fellowship of the Ring,...",4.140201,1990

In [26]:
#content based recommender system

In [61]:
movies2.head()

   movieId             title     genres
0        1  Toy Story (1995)  Adventure
0        1  Toy Story (1995)  Animation
0        1  Toy Story (1995)   Children
0        1  Toy Story (1995)     Comedy
0        1  Toy Story (1995)    Fantasy

In [62]:
movies3=movies2.groupby('title').agg({"genres":lambda x:" ".join(list(x))}).reset_index()

In [63]:
movies3.head()

                                               title              genres
0                   "Great Performances" Cats (1998)             Musical
1  #chicagoGirl: The Social Network Takes on a Di...         Documentary
2                                 $ (Dollars) (1971)  Comedy Crime Drama
3                                    $5 a Day (2008)        Comedy Drama
4                                       $9.99 (2008)           Animation

In [64]:
tf=TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english')
tf

TfidfVectorizer(ngram_range=(1, 3), stop_words='english')

In [65]:
tf_matrix=tf.fit_transform(movies3['genres'])

In [66]:
cosine_sim=cosine_similarity(tf_matrix,tf_matrix)

In [67]:
cosine_sim

array([[1.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 1.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 1.       , ..., 0.2309757, 0.2309757,
        0.       ],
       ...,
       [0.       , 0.       , 0.2309757, ..., 1.       , 1.       ,
        0.       ],
       [0.       , 0.       , 0.2309757, ..., 1.       , 1.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        1.       ]])

In [68]:
def recommendation_genre(movie_df, similarity_matrix, movie_title, topN):
    indices=pd.Series(movies3.index,index=movies3['title'])
    index=indices[movie_title]
    cosine_scores=list(enumerate(similarity_matrix[index]))
    cosine_scores=sorted(cosine_scores, key=lambda x:x[1], reverse=True)[:topN+2]
    matched=[i[0] for i in cosine_scores]
    matching_df=movie_df.iloc[matched]
    matching_df=matching_df[matching_df['title']!=movie_title]
    matching_df.rename(columns={'title':'Movie Title'},inplace=True)
    matching_df['Sno.']=range(1,len(matching_df)+1)
    matching_df.index=range(0,len(matching_df))
    return matching_df[['Sno.','Movie Title']].head(topN)

In [69]:
recommendation_genre(movie_df=movies3, similarity_matrix=cosine_sim, movie_title='Toy Story (1995)', topN=10)

   Sno.                                        Movie Title
0     1     Adventures of Rocky and Bullwinkle, The (2000)
1     2                                        Antz (1998)
2     3  Asterix and the Vikings (Astérix et les Viking...
3     4                              Boxtrolls, The (2014)
4     5                              Brother Bear 2 (2006)
5     6  DuckTales: The Movie - Treasure of the Lost La...
6     7                   Emperor's New Groove, The (2000)
7     8                              Monsters, Inc. (2001)
8     9                             Shrek the Third (2007)
9    10                     Tale of Despereaux, The (2008)

In [70]:
#interactive widgets

In [71]:
genres=Dropdown(options=list(set(movies2['genres'])),desciption="Genres",style={"description_width":'initial'})
num_reviews=IntText(description="Minimum Reviews",style={"description_width":'initial'})
num_recommendations_1=IntText(description="Number of recommendations",style={"description_width":'initial'})



#tabs
b1=Button(description="RECOMMEND ME",style={"description_width":'initial'})
h1=HBox([num_reviews,num_recommendations_1])
popularity_tab=VBox([genres,h1,b1])




#content based system
title=Textarea(description="Movie title",style={"description_width":'initial'})
num_recommendations_2=IntText(description="Number of recommendations",style={"description_width":'initial'})



#tabs
h2=HBox([title,num_recommendations_2])
b2=Button(description="RECOMMEND ME",style={"description_width":'initial'})
content_tab=VBox([h2,b2])

#final tabs
tabs=[popularity_tab,content_tab]
wid=widgets.Tab(tabs)

names=['Popularity Based Recommendations', 'Content Based Recommendations']
[wid.set_title(i,title) for i,title in enumerate(names)]

display(wid)

Tab(children=(VBox(children=(Dropdown(options=('Sci-Fi', 'Children', 'Mystery', 'Western', 'IMAX', 'Drama', 'A…

In [72]:
#popularity
def b1_clicked(b):
    global output
    output=TopNPopularMovies(genre=genres.value,threshold=num_reviews.value,topN=num_recommendations_1.value)
b1.on_click(b1_clicked)

#content
def b2_clicked(b):
    global output
    result=recommendation_genre(movie_df=movies3, similarity_matrix=cosine_sim, movie_title=title.value,topN=num_recommendations_2.value)
    output=result

b2.on_click(b2_clicked)

In [78]:
display(wid)

Tab(children=(VBox(children=(Dropdown(index=1, options=('Sci-Fi', 'Children', 'Mystery', 'Western', 'IMAX', 'D…

In [83]:
output

,Sno.,Movie Title,Average Movie Rating,Number of Reviews
0,1,Creature Comforts (1989),4.311475,122
1,2,"Lady Eve, The (1941)",4.269231,78
2,3,City Lights (1931),4.261029,136
3,4,"Thin Man, The (1934)",4.242574,202
4,5,Dr. Strangelove or: How I Learned to Stop Worr...,4.220366,1257
5,6,Tampopo (1985),4.219388,98
6,7,Duck Soup (1933),4.217857,280
7,8,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",4.217496,1246
8,9,"Gold Rush, The (1925)",4.210084,119
9,10,Intouchables (2011),4.209302,129